<!DOCTYPE html>
<html>
<head>
  <title>Bertslist</title>
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/bootstrap.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/bootstrap-responsive.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/jquery-ui.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/formValidator.2.5.5.1/validationEngine.jquery.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/jquery.fileupload-ui.css?body=1" media="all" rel="stylesheet" type="text/css" />
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/vendor/jquery/jquery-ui-1.8.23.custom.min.js?body=1" type="text/javascript"></script>
<script src="/assets/vendor/jquery/jquery.disable.js?body=1" type="text/javascript"></script>
<script src="/assets/formValidator.2.5.5.1/languages/jquery.validationEngine-en.js?body=1" type="text/javascript"></script>
<script src="/assets/formValidator.2.5.5.1/jquery.validationEngine.js?body=1" type="text/javascript"></script>
<script src="/assets/vendor/bootstrap/bootstrap.js?body=1" type="text/javascript"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/vendor/jquery.ui.widget.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/vendor/load-image.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/vendor/canvas-to-blob.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/vendor/tmpl.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/jquery.iframe-transport.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/jquery.fileupload.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/jquery.fileupload-fp.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/jquery.fileupload-ui.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/locale.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-fileupload/index.js?body=1" type="text/javascript"></script>
<script src="/assets/widgets/ajaxy_form.js?body=1" type="text/javascript"></script>
<script src="/assets/widgets/pet_form.js?body=1" type="text/javascript"></script>
<script src="/assets/application.js?body=1" type="text/javascript"></script>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "e8005f24-cf8c-4f87-837e-d269f4401148"}); </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Bertslist Blog</a>
  </div>
</div>
</div>

<div class="container" id="main_content">
  {{ content }}
</div>

</div>
</body>
</html>
