body, html
  height: 100%

body
  position: relative
  padding-top: 40px
  background: url("/images/az_subtle.png") repeat

#shelter_or_rescue
  overflow: hidden
#shelter_or_rescue p
  overflow: hidden
#shelter_or_rescue p label
  margin-right: 15px
#shelter_or_rescue p *
  float: left

.cell
  padding: 5px
  border: 1px solid grey
  border-radius: 5px
  margin: 20px 0
  background: #FFF
  box-shadow: 2px 2px 2px #CCC