body, html
  height: 100%

body
  position: relative
  background: url("/images/az_subtle.png") repeat

h1, h2, h3, h4, h5, h6
  border-bottom: 1px solid #CCC

#main_content
  padding: 0 15px
  padding-top: 50px /* header padding */
  background: #FFF
  min-height: 100%

#shelter_or_rescue
  overflow: hidden
#shelter_or_rescue p
  overflow: hidden
#shelter_or_rescue p label
  margin-right: 15px
#shelter_or_rescue p *
  float: left

.cell
  padding: 5px
  border: 1px solid grey
  border-radius: 5px
  margin: 20px 0
  background: #FFF
  box-shadow: 2px 2px 2px #CCC
