.pet_cell
  padding: 5px
  border: 1px solid grey
  border-radius: 5px
  margin: 20px 0
  background: #FFF
  box-shadow: 2px 2px 2px #CCC
  img
    float: left
    padding-right: 10px

div.field
  padding: 5px 0

#save_date
  p
    overflow: hidden
    label, input
      float: left
    label
      padding: 5px 10px
    input[type="checkbox"]
      margin: 8px 0px

#age_fields
  overflow: hidden
  input[type="number"]
    width: 57px
  span
    display: block
    width: 60px
    float: left
    padding: 0px 6px
    text-align: center
  select
    width: 80px
