.pet_cell
  padding: 5px
  border: 1px solid grey
  border-radius: 5px
  margin: 5px 0
  img
    float: left
    padding-right: 10px

#save_date
  p
    overflow: hidden
    label, input
      float: left
    label
      padding: 5px 10px
    input[type="checkbox"]
      margin: 8px 0px
